extends base.pug

block vars
    - var title = "Login"

    block content
    h1 Log into your account

    if error
        p ERROR: #(error)

    form(method="post")

        span Email:
        input(type="email", name="email", required=true)
        br

        span Password:
            input(type="password", name="password", required=true)
            br

        input(type="submit")